h1 {
  color: red;
}
p, li {
    color: green;
}
li {
  list-style-type: upper-alpha;
}
body {
    background-color: #FFA39D;
}

div#cpp-content-base {
    background-color: #FFA39D;
}

html, body {
    font-family: "DejaVu Sans", arial, sans-serif;
    font-size: 1em;
}
