body {
	background: palegreen ;
	color: #ccc ;
	max-width: 800px ;
	margin: auto ;
	padding: 0 16px ;
	margin-bottom: 500px ;
	font-family: sans-serif ;
}

h1 {
	color: blueviolet;
	text-align: center ;
}

h2 {
	color: darkslateblue ;
}

footer {
	text-align: center ;
}

img {
	max-width: 600px ;
	width: 100% ;
	margin: auto ;
	display: block ;
}


@media (prefers-color-scheme: light) {
	body {
		background: palegreen ;
		color: black ;
	}
}

@media print {
	a[href] {
		text-decoration: none ;
	}
}

@media (min-width: 55em) {
	#artlist { column-count: 2 ;}
}

@media (min-width: 100em) {
	#artlist { column-count: 3 ;}
}
